// Custom variable overrides for Bootstrap
$primary: #101920;
$secondary: #6c757d;
$success: #198754;
$highlight: #00b2ff;
$warning: #ffc107;
$danger: #dc3545;
$light: #ebebeb;
$dark: #101920;

// Additional variables
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$font-family-sans-serif: "Roboto", system-ui, -apple-system, "Segoe UI",
  "Helvetica Neue", Arial, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$headings-font-weight: 700;
