// Import variables first
@import "variables";

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Import our custom partials
@import "base";
@import "style";
@import "components";
@import "layout";
@import "utilities-map";
@import "mixins";
@import "fonts";
@import "typography";

// Additional custom styles
.hero {
  background-color: $light;
  padding: 80px 0;

  h1 {
    margin-bottom: 1.5rem;
  }
}
